 $font: 'Montserrat', sans-serif;

 $grey: #F8F6F7;

 $blue: #278AFF;
 
 $black: #333;

 $green: #00BF78;

 $orange: #FB9475;

 $white: #fff;

 $header: #333;

 $background-red: #dc3232;

 $background-red1: #a30303;

 $background-body: #f7f7f7;

 :root {
	--index: calc(1vw + 1vh);
}